APP_ENV=production
APP_DEBUG=false
APP_URL=https://elonn.com

ELONN_API_BASE_URL=https://api.elonn.com
ELONN_COOKIE_DOMAIN=.elonn.com
ELONN_WEB_URL=https://web.elonn.com/
ELONN_TIME_URL=https://time.elonn.com/
